<footer class="p-4 bg-cat-crust sm:p-6 ">
    <div class="max-w-screen-xl mx-auto">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="https://ricovz.me/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-cat-text">Rico van
                        Zelst</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-cat-text">Made with</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="https://angular.io/"
                                class="hover:underline text-cat-subtext1 hover:text-cat-lavender">Angular</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/"
                                class="hover:underline text-cat-subtext1 hover:text-cat-lavender">TailwindCSS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-cat-text">Connect with me</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="https://www.linkedin.com/in/ricovz/"
                                class="hover:underline text-cat-subtext1 hover:text-cat-lavender">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://github.com/rico-vz/"
                                class="hover:underline text-cat-subtext1 hover:text-cat-lavender">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://ricovz.me/"
                    class="hover:underline">Rico van Zelst</a>. All Rights Reserved. | <a class="hover:underline"
                    href="https://github.com/rico-vz/personal-portfolio">View
                    this project on Github</a>
            </span>

        </div>
    </div>
</footer>