---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import SocialBanner from "../components/SocialBanner.astro";
import LangsBanner from "../components/LangsBanner.astro";
---

<html lang="en">
  <head>
    <BaseHead title="About | Rico van Zelst" description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-neutral font-montserrat">
    <Header title={SITE_TITLE} />
    <main>
      <div class="mt-6 min-h-screen">
        <h1 class="text-center text-5xl font-extrabold mb-6 tracking-wide">
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary"
            >About Me</span
          >
        </h1>
        <About />
        <div class="flex justify-center mb-4">
          <LangsBanner />
        </div>
        <div class="flex justify-center ">
          <SocialBanner />
        </div>

      </div>
    </main>
    <Footer />
  </body>
</html>
