---
---

<div class="flex justify-center">
  <p
    class="lg:w-1/2 mx-8 text-neutral-content antialiased text-lg mb-4 tracking-wide leading-relaxed"
  >
    My name is Rico van Zelst, and I am a highly motivated and dedicated
    19-year-old software engineering student at Bit Academy. As a student of
    software engineering, I am deeply committed to expanding my knowledge and
    honing my skills in the field. In addition to my studies, I am also actively
    engaged in a variety of freelance web development projects that serve to
    further my understanding of the industry and its many nuances.
    <br /><br />
    Throughout my life, I have been fascinated by the world of technology and all
    that it has to offer. This passion has driven me to pursue a career in software
    development, where I am able to combine my love of problem-solving with my interest
    in creative design. I am dedicated to providing organizations with the best possible
    technical solutions in today's highly competitive market, and I am always eager
    to collaborate with others in order to achieve this goal.
    <br /><br />
    When I am not studying or working on projects, I enjoy spending my free time
    developing my skills, watching movies, listening to music, and playing games.
    I am particularly proficient in <span class="font-medium">PHP</span> (<span
      class="font-medium">Laravel</span
    >) and
    <span class="font-medium">JavaScript</span>, but I am also familiar with
    other programming languages such as <span class="font-medium">C++</span> and
    <span class="font-medium">Python</span>. If you are interested in working
    together on a project or would simply like to discuss potential
    opportunities, please do not hesitate to reach out to me. I am always eager
    to connect with like-minded individuals and explore new possibilities.
    <br />
    <br />
    In addition to visiting my website, you can also check me out on various social
    media platforms such like <a
      href="https://twitter.com/Zqrc"
      class="font-bold text-blue-500 underline"
      target="_blank">Twitter</a
    >
    where I share updates and thoughts on various topics. On <a
      href="https://dev.to/ricovz"
      class="font-bold text-white underline"
      target="_blank">Dev.to</a
    >, there I occasionally blog about my experiences and share tips and
    tutorials. And ofcourse on <a
      href="https://www.linkedin.com/in/ricovz/"
      class="font-bold text-blue-300 underline"
      target="_blank">LinkedIn</a
    >, I connect with other professionals and share my work experience and
    accomplishments. I would love for you to connect with me on these platforms
    as well!
  </p>
</div>
