---
---

<div id="latest-projects"></div>

<script>
  const getLatestProjects = async () => {
    // check if data is already stored in localStorage
    const data = localStorage.getItem("latestProjects");
    if (data) {
      const { timestamp, projects } = JSON.parse(data);
      // check if timestamp is older than 24 hours
      if (Date.now() - timestamp < 24 * 60 * 60 * 1000) {
        // data is still fresh, return stored data
        return projects.slice(0, 6);
      }
    }

    // data is not stored or is older than 24 hours, make new API call
    const projects = await fetch(
      "https://api.github.com/users/rico-vz/repos?sort=updated&direction=desc"
    ).then((res) => res.json());

    // store data in localStorage with timestamp
    localStorage.setItem(
      "latestProjects",
      JSON.stringify({ timestamp: Date.now(), projects })
    );

    return projects.slice(0, 6);
  };

  const createprojectCard = (project) => {
    const card = document.createElement("div");
    card.classList.add(
      "card",
      "shadow-xl",
      "p-1",
      "hover:bg-gradient-to-bl",
      "bg-gradient-to-tr",
      "from-base-200",
      "to-base-300",
      "hover:scale-[103.5%]",
      "duration-300",
      "mb-4"
    );
    card.innerHTML = `
      <div class="card lg:w-96 bg-base-100 h-full hover:shadow-2xl">
        <div class="card-body">
          <a href="${project.html_url}" target="_blank" rel="noreferrer">
            <h2 class="card-title text-base-content ">${project.name}</h2>
          </a>
          <p class="text-neutral-content">${project.description}</p>
          <div class="card-actions justify-end ">
            <a href="${project.html_url}" target="_blank" rel="noreferrer">
              <p class="text-base-content font-medium">
                View project <i class="inline-block"><svg width="0.67em" fill="currentcolor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M323.431,268.226,100.493,45.709a27.57,27.57,0,0,0-38.933,0l-26,25.957a27.444,27.444,0,0,0-.046,38.815L212.2,287.657,35.521,464.844a27.434,27.434,0,0,0,.046,38.815l26,25.957a27.57,27.57,0,0,0,38.933,0L323.431,307.087A27.448,27.448,0,0,0,323.431,268.226Z" transform="translate(70.507 -37.662)"></path></svg></i>
              </p>
            </a>
          </div>
        </div>
      </div>
    `;
    return card;
  };

  const appendProjectCards = (projects) => {
    const container = document.getElementById("latest-projects");
    container.classList.add(
      "grid",
      "grid-cols-1",
      "md:grid-cols-3",
      "gap-4",
      "mb-12"
    );
    projects.forEach((project) =>
      container.appendChild(createprojectCard(project))
    );
  };

  getLatestProjects().then(appendProjectCards);
</script>
