---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="font-jb-mono">
  <div class="navbar bg-base-100 justify-around">
    <div class="flex justify-between min-w-[50%]">
      <div class="hidden md:flex">
        <a
          href="/"
          class="btn btn-ghost normal-case text-xl text-primary tracking-wide"
          >{SITE_TITLE}</a
        >
      </div>
      <ul class="text-neutral-content menu menu-horizontal px-1">
        <li><HeaderLink href="/">/home</HeaderLink></li>
        <li><HeaderLink href="/about">/about</HeaderLink></li>
        <li><HeaderLink>/links</HeaderLink></li>
        <li><HeaderLink>/uses</HeaderLink></li>
        <li>
          <HeaderLink href="https://dev.to/ricovz" target="_blank">
            /blog
          </HeaderLink>
        </li>
        <li><a href="mailto:ricovzelst@pm.me">@mail</a></li>
        <div
          class="tooltip tooltip-bottom tooltip-primary duration-300"
          data-tip="Change theme"
        >
          <button
            name="Theme Button"
            id="theme-button"
            class="hidden md:inline-block text-base-content btn btn-ghost"
          >
            <i class="cIcon cIcon-ci-01967" title="custicon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.2em"
                height="1.2em"
                fill="currentcolor"
                viewBox="0 0 24 24"
                ><path
                  d="M12,16a4,4,0,1,0-4-4A4,4,0,0,0,12,16Zm0,2a6,6,0,1,0-6-6A6,6,0,0,0,12,18Z"
                  fill-rule="evenodd"></path><path
                  d="M11,0h2V4.062a8.11,8.11,0,0,0-2,0ZM7.094,5.68,4.222,2.808,2.808,4.222,5.68,7.094A8.048,8.048,0,0,1,7.094,5.68ZM4.062,11H0v2H4.062a8.11,8.11,0,0,1,0-2ZM5.68,16.906,2.808,19.778l1.414,1.414L7.094,18.32A8.048,8.048,0,0,1,5.68,16.906ZM11,19.938V24h2V19.938a8.109,8.109,0,0,1-2,0Zm5.906-1.618,2.872,2.872,1.414-1.414L18.32,16.906A8.048,8.048,0,0,1,16.906,18.32ZM19.938,13H24V11H19.938a8.109,8.109,0,0,1,0,2ZM18.32,7.094l2.873-2.872L19.778,2.808,16.906,5.68A8.048,8.048,0,0,1,18.32,7.094Z"
                  fill-rule="evenodd"></path></svg
              >
            </i>
          </button>
        </div>
      </ul>
    </div>
  </div>
</header>
<script is:inline>
  const themeButton = document.getElementById("theme-button");

  themeButton.addEventListener("click", function () {
    const currentTheme = document.documentElement.getAttribute("data-theme");
    if (currentTheme === "catLatte") {
      document.documentElement.setAttribute("data-theme", "catMacchiato");
    } else if (currentTheme === "catMacchiato") {
      document.documentElement.setAttribute("data-theme", "catLatte");
    }
  });
</script>
