---
---

<div class="flex items-center">
  <!-- PHP -->
  <svg
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M12 5.5C5.271 5.5 0 8.355 0 12s5.271 6.5 12 6.5s12-2.855 12-6.5s-5.271-6.5-12-6.5Zm-1.246 2h1.31l-.416 2h1.17c.742 0 1.24.104 1.524.363c.277.256.361.676.25 1.248l-.52 2.389H12.74l.479-2.209c.058-.303.035-.514-.067-.625c-.101-.111-.324-.166-.658-.166h-1.049l-.633 3H9.5l1.254-6ZM5 9.5h2.666c1.271 0 2.041.852 1.74 2.123C9.056 13.1 8.12 13.5 6.396 13.5h-.824L5.311 15H3.986L5 9.5Zm10.5 0h2.666c1.271 0 2.041.852 1.74 2.123c-.35 1.477-1.287 1.877-3.01 1.877h-.824l-.261 1.5h-1.325L15.5 9.5Zm-9.365 1l-.377 2h.855c.74 0 1.428-.084 1.543-1.188c.043-.427-.135-.812-.99-.812H6.135Zm10.5 0l-.377 2h.855c.74 0 1.428-.084 1.543-1.188c.043-.427-.134-.812-.99-.812h-1.031Z"
    ></path></svg
  >
  <!-- Laravel -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M21.7 6.53c.01.02.01.05.01.08v4.29c0 .1-.06.22-.15.27l-3.61 2.08v4.11c0 .11-.05.21-.15.27l-7.52 4.33c-.02.01-.04.04-.06.04H10s0-.03-.04-.04l-7.52-4.33a.315.315 0 0 1-.15-.27V4.5c0-.05 0-.08.01-.1c0-.01.01-.02.01-.03c0-.02.01-.03.02-.05c0-.01.01-.02.02-.03l.03-.03l.03-.03c.01-.01.02-.02.03-.02L6.2 2.04c.1-.04.22-.04.3 0l3.78 2.17c.01.01.02.01.03.02l.03.03l.03.03c.01.01.02.02.02.03c.01.02.02.03.02.05c0 .01.01.02.01.03c.01.03.01.05.01.1v8l3.14-1.78V6.61c0-.03 0-.06.01-.08l.01-.03s.01-.03.02-.05c0-.01.01-.02.02-.03l.03-.03l.03-.03c.01-.01.02-.02.03-.02l3.78-2.17c.08-.06.2-.06.3 0l3.76 2.17c.01 0 .02.01.03.02l.03.03l.03.03c.01.01.01.02.02.03c.01.02.01.05.02.05s.01 0 .01.03m-.61 4.19V7.15l-3.14 1.8v3.55l3.14-1.78m-3.76 6.46V13.6l-6.9 3.94v3.61l6.9-3.97M2.91 5v12.18l6.9 3.97v-3.61l-3.6-2.04H6.2c-.01 0-.02 0-.03-.03c-.01 0-.02-.01-.03-.02l-.03-.03c-.01-.01-.01-.02-.02-.03c-.01-.02-.01-.03-.02-.04c0-.02-.01-.03-.01-.04c-.01-.01-.01-.03-.01-.04V6.82L2.91 5m3.45-2.32L3.23 4.5l3.13 1.78L9.5 4.5L6.36 2.68m3.45 10.2V5L6.67 6.82v7.87l3.14-1.81m7.83-8.08L14.5 6.61l3.14 1.8l3.13-1.8l-3.13-1.81m-.31 4.15l-3.14-1.8v3.57l3.14 1.78V8.95M10.12 17L17 13.06l-3.12-1.8L7 15.23L10.12 17Z"
    ></path></svg
  >
  <!-- JavaScript -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M3 6.25v11.5A3.25 3.25 0 0 0 6.25 21h11.5A3.25 3.25 0 0 0 21 17.75V6.25A3.25 3.25 0 0 0 17.75 3H6.25A3.25 3.25 0 0 0 3 6.25Zm9 3.25a.75.75 0 0 1 .75.75v6A1.75 1.75 0 0 1 11 18H9.75a.75.75 0 0 1 0-1.5H11a.25.25 0 0 0 .25-.25v-6A.75.75 0 0 1 12 9.5Zm2 1.75c0-.966.784-1.75 1.75-1.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v1.5c0 .138.112.25.25.25h.5c.966 0 1.75.784 1.75 1.75v1.5A1.75 1.75 0 0 1 16.25 18h-1.5a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25v-1.5a.25.25 0 0 0-.25-.25h-.5A1.75 1.75 0 0 1 14 12.75v-1.5Z"
    ></path></svg
  >
  <!-- SQL -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 32 32"
    ><path
      fill="currentColor"
      d="M24 21V9h-2v14h8v-2h-6zM18 9h-4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h1v2a2 2 0 0 0 2 2h2v-2h-2v-2h1a2 2 0 0 0 2-2V11a2 2 0 0 0-2-2zm-4 12V11h4v10zm-6 2H2v-2h6v-4H4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2h6v2H4v4h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2z"
    ></path></svg
  >
  <!-- Python -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M19.14 7.5A2.86 2.86 0 0 1 22 10.36v3.78A2.86 2.86 0 0 1 19.14 17H12c0 .39.32.96.71.96H17v1.68a2.86 2.86 0 0 1-2.86 2.86H9.86A2.86 2.86 0 0 1 7 19.64v-3.75a2.85 2.85 0 0 1 2.86-2.85h5.25a2.85 2.85 0 0 0 2.85-2.86V7.5h1.18m-4.28 11.79c-.4 0-.72.3-.72.89c0 .59.32.71.72.71a.71.71 0 0 0 .71-.71c0-.59-.32-.89-.71-.89m-10-1.79A2.86 2.86 0 0 1 2 14.64v-3.78A2.86 2.86 0 0 1 4.86 8H12c0-.39-.32-.96-.71-.96H7V5.36A2.86 2.86 0 0 1 9.86 2.5h4.28A2.86 2.86 0 0 1 17 5.36v3.75a2.85 2.85 0 0 1-2.86 2.85H8.89a2.85 2.85 0 0 0-2.85 2.86v2.68H4.86M9.14 5.71c.4 0 .72-.3.72-.89c0-.59-.32-.71-.72-.71c-.39 0-.71.12-.71.71s.32.89.71.89Z"
    ></path></svg
  >
  <!-- Git -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M2.6 10.59L8.38 4.8l1.69 1.7c-.24.85.15 1.78.93 2.23v5.54c-.6.34-1 .99-1 1.73a2 2 0 0 0 2 2a2 2 0 0 0 2-2c0-.74-.4-1.39-1-1.73V9.41l2.07 2.09c-.07.15-.07.32-.07.5a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2c-.18 0-.35 0-.5.07L13.93 7.5a1.98 1.98 0 0 0-1.15-2.34c-.43-.16-.88-.2-1.28-.09L9.8 3.38l.79-.78c.78-.79 2.04-.79 2.82 0l7.99 7.99c.79.78.79 2.04 0 2.82l-7.99 7.99c-.78.79-2.04.79-2.82 0L2.6 13.41c-.79-.78-.79-2.04 0-2.82Z"
    ></path></svg
  >
  <!-- HTML5 -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 256 256"
    ><path
      fill="currentColor"
      d="M120 168H88a8 8 0 0 0 0 16h8v32a8 8 0 0 0 16 0v-32h8a8 8 0 0 0 0-16Zm-56 0a8 8 0 0 0-8 8v12H44v-12a8 8 0 0 0-16 0v40a8 8 0 0 0 16 0v-12h12v12a8 8 0 0 0 16 0v-40a8 8 0 0 0-8-8Zm172 40h-16v-32a8 8 0 0 0-16 0v40a8 8 0 0 0 8 8h24a8 8 0 0 0 0-16Zm-49.6-39.6a7.8 7.8 0 0 0-8.9 3L164 190.2l-13.5-18.8A8 8 0 0 0 136 176v40a8 8 0 0 0 16 0v-15l5.5 7.6a7.9 7.9 0 0 0 13 0l5.5-7.6v15a8 8 0 0 0 16 0v-40a7.8 7.8 0 0 0-5.6-7.6ZM48 136h160a8 8 0 0 0 8-8V88a8.1 8.1 0 0 0-2.3-5.7l-56-56A8.1 8.1 0 0 0 152 24H56a16 16 0 0 0-16 16v88a8 8 0 0 0 8 8Zm104-92l44 44h-44Z"
    ></path></svg
  >
  <!-- CSS -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 256 256"
    ><path
      fill="currentColor"
      d="M129.7 183.8c-3.1-.8-8.6-2.3-9.7-3.6v-.2c0-3.3 2.4-5 7-5a18.4 18.4 0 0 1 10 3.2h-.1a8.3 8.3 0 0 0 5.1 1.8a8 8 0 0 0 8-8a7.6 7.6 0 0 0-2.9-6.1A33.4 33.4 0 0 0 127 159c-13.5 0-23 8.6-23 21s13 17 21.6 19.3c3.4.9 7 1.8 9.2 3.1s1.2 1 1.2 1.6s0 5-9 5a18.4 18.4 0 0 1-10-3.2h.1a8.3 8.3 0 0 0-5.1-1.8a8 8 0 0 0-8 8a7.6 7.6 0 0 0 2.9 6.1A33.4 33.4 0 0 0 127 225c15.7 0 25-7.9 25-21s-14-18-22.3-20.2Zm7.2-5.7Zm-19.8 27.8ZM52 192c0 8.8 6.3 16 14 16a12.9 12.9 0 0 0 8.6-3.4a7.9 7.9 0 0 1 11.3.6a8 8 0 0 1-.5 11.3A29.3 29.3 0 0 1 66 224c-16.5 0-30-14.4-30-32s13.5-32 30-32a29.3 29.3 0 0 1 19.4 7.5a8 8 0 0 1 .5 11.3a7.9 7.9 0 0 1-11.3.6A12.9 12.9 0 0 0 66 176c-7.7 0-14 7.2-14 16Zm141.7-8.2c-3.1-.8-8.6-2.3-9.7-3.6v-.2c0-3.3 2.4-5 7-5a18.4 18.4 0 0 1 10 3.2h-.1a8.3 8.3 0 0 0 5.1 1.8a8 8 0 0 0 8-8a7.6 7.6 0 0 0-2.9-6.1A33.4 33.4 0 0 0 191 159c-13.5 0-23 8.6-23 21s13 17 21.6 19.3c3.4.9 7 1.8 9.2 3.1s1.2 1 1.2 1.6s0 5-9 5a18.4 18.4 0 0 1-10-3.2h.1a8.3 8.3 0 0 0-5.1-1.8a8 8 0 0 0-8 8a7.6 7.6 0 0 0 2.9 6.1A33.4 33.4 0 0 0 191 225c15.7 0 25-7.9 25-21s-14-18-22.3-20.2Zm7.2-5.7Zm-19.8 27.8Zm20.5-27.2Zm-64 0Zm76.1-96.4l-56-56A8.1 8.1 0 0 0 152 24H56a16 16 0 0 0-16 16v88a8 8 0 0 0 8 8h160a8 8 0 0 0 8-8V88a8.1 8.1 0 0 0-2.3-5.7ZM152 88V44l44 44Z"
    ></path></svg
  >
  <!-- Tailwind -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14 text-primary opacity-60 hover:opacity-90 mr-2 hover:scale-110 transition-all duration-800"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4a3.23 3.23 0 0 1 3.5-1.49a4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4a3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4a3.23 3.23 0 0 1-3.5 1.49a4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4a3.2 3.2 0 0 1 3.5-1.51z"
    ></path></svg
  >
</div>
