<div class="py-16 bg-cat-mantle">
    <div class="container px-6 m-auto md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="items-center w-3/5 ml-auto mr-auto">
                <h1 class="text-2xl font-bold text-cat-text md:text-4xl">/uses</h1>
                <h2 class="text-md md:text-lg text-cat-text">Inspired by <b class="text-cat-subtext0">Wes Bos</b> and
                    their project,
                    <a class="text-cat-subtext0 hover:underline" href="https://uses.tech/">uses.tech</a>.
                </h2>
                <div class="mt-10">
                    <div class="mb-16">
                        <h3 class="mb-2 text-lg font-bold md:text-xl text-cat-text">👋 This website</h3>
                        <p class="text-base md:text-lg text-cat-text">
                            <b>• </b> Angular<br>
                            <b>• </b> TailwindCSS<br>
                            <b>• </b> Catppucin<br>
                            <b>• </b> Cloudflare<br>
                            <b>• </b> Ghost.org<br>
                            <b>• </b> hCaptcha<br>
                        </p>
                    </div>
                    <div class="mb-16">
                        <h3 class="mb-2 text-lg font-bold md:text-xl text-cat-text">🖥️ Machine</h3>
                        <p class="text-base md:text-lg text-cat-text">
                            <b>• 🏡 Desktop:</b> AMD Ryzen 7 3800X, RTX 3060, 32GB RAM @ 3200MHz & 2TB SSD<br><br>
                            <b>• 🏢 Laptop:</b> Intel Core i7-1165G7, GeForce MX450, 16GB RAM @ 3200MHz & 500GB SSD
                        </p>
                    </div>
                    <div class="mb-16">
                        <h3 class="mb-2 text-lg font-bold md:text-xl text-cat-text">🧑‍💻 Software</h3>
                        <p class="text-base md:text-lg text-cat-text">
                            <b>• </b> Visual Studio Code<br>
                            <b>• </b> Visual Studio 2022<br>
                            <b>• </b> Hardened Firefox<br>
                            <b>• </b> Adobe Photoshop<br>
                            <b>• </b> Beekeeper Studio<br>
                            <b>• </b> Obsidian md<br>
                            <b>• </b> Bitwarden<br>
                            <b>• </b> VEGAS Pro<br>
                            <b>• </b> Termius<br>
                            <b>• </b> dnSpy
                        </p>
                    </div>
                    <div class="mb-16">
                        <h3 class="mb-2 text-lg font-bold md:text-xl text-cat-text">🌐 Services</h3>
                        <p class="text-base md:text-lg text-cat-text">
                            <b>• </b> Spotify<br>
                            <b>• </b> SEMRush<br>
                            <b>• </b> Github<br>
                            <b>• </b> Simple Analytics<br>
                            <b>• </b> Cloudflare<br>
                            <b>• </b> Coolors<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>